{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <style>
        *{
            margin:0;
        }

        .loading{
            display: none;
        }

        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            position:absolute;
            left:45.5%;
            top:29%;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<!-- 그림 그리는 부분 -->
{#<body onload="InitThis();">#}
<body>
    <div class="loading" style="background: black; opacity: 0.5; width:100%; height:100%; position:absolute;"></div>
    <nav style="width:100%; height:100px; text-align: center; padding-top:50px;">
        <h3>Pix to Pix Chicken version</h3>
    </nav>
    <br/>
    <div class="loader loading"></div>
    <div>
        <div align="center">
            <form id="test_input_form" action="/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <input type="file" name="test_image" multiple id="fileToUpload">
                <input type="submit" value="Upload & Process" name="submit">
            </form>
        </div>
    </div>
    <br/>
    <div class="input_div_wrapper" style="text-align: center; width:25%; margin-left:23%; display: inline-block; vertical-align: middle;">
        <h3>Input</h3>
        {% if flag is 0 %}
            <div style="border:2px solid black; width:256px; height:256px; margin:auto;"><img id="input_img" alt=""></div>
        {% else %}
            <div style="border:2px solid black; width:256px; height:256px; margin:auto;"><img src="{% static 'img/temp.png' %}" id="input_img" alt=""></div>
        {% endif %}

    </div>

    <div class="process_warpper" style="display: inline-block; width:5%; border:1px solid black; text-align: center;">
        <div class="button_wrapper">
            pix_2_pix
            processing
{#            <button id="process_btn" type="button">process</button>#}
        </div>
    </div>

    <div class="output_div_wrapper" style="text-align: center; width:25%; display: inline-block; vertical-align: middle;">
        <h3>output</h3>
        {% if flag is 0 %}
            <div style="border:2px solid black; width:256px; height:256px; margin:auto;"><img id="output_img" alt=""></div>
        {% else %}
            <div style="border:2px solid black; width:256px; height:256px; margin:auto;"><img src="{% static 'output/images/test-outputs.png' %}" id="output_img" alt=""></div>
        {% endif %}
    </div>

    <!-- 그림그리는 부분
    <br /><br />
    <div style="text-align: center">
        <button onclick="javascript:clearArea();return false;">Clear Area</button>
        Line width :
        <select id="selWidth">
            <option value="1">1</option>
            <option value="3" selected="selected">3</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="9">9</option>
            <option value="11">11</option>
        </select>
            Color : <select id="selColor">
            <option value="black" selected="selected">black</option>
            <option value="blue">blue</option>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="yellow">yellow</option>
            <option value="gray">gray</option>
        </select>
    </div>
    -->
      <!-- script part -->
    <script type="text/javascript" >
        /* 여기는 그림그려서 하는 부분
        var mousePressed = false;
        var lastX, lastY;
        var ctx;

        function InitThis() {
            ctx = document.getElementById('myCanvas').getContext("2d");
            ctx.fillStyle = "white";
            ctx.fillRect(0, 0, 256, 256);

            $('#myCanvas').mousedown(function (e) {
                mousePressed = true;
                Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, false);
            });

            $('#myCanvas').mousemove(function (e) {
                if (mousePressed) {
                    Draw(e.pageX - $(this).offset().left, e.pageY - $(this).offset().top, true);
                }
            });

            $('#myCanvas').mouseup(function (e) {
                mousePressed = false;
            });
            $('#myCanvas').mouseleave(function (e) {
                mousePressed = false;
            });
        }

        function Draw(x, y, isDown) {
            if (isDown) {
                ctx.beginPath();
                ctx.strokeStyle = $('#selColor').val();
                ctx.lineWidth = $('#selWidth').val();
                ctx.lineJoin = "round";
                ctx.moveTo(lastX, lastY);
                ctx.lineTo(x, y);
                ctx.closePath();
                ctx.stroke();
            }
            lastX = x; lastY = y;
        }

        function clearArea() {
            // Use the identity matrix while clearing the canvas
            ctx.setTransform(1, 0, 0, 1, 0, 0);
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
        }

        // uploading part
        $("#process_btn").click(function() {
            var canvas = document.getElementById('myCanvas');
            console.log(canvas);
            var dataURL = canvas.toDataURL();
            console.log(dataURL);
            var img = new Image();
            img.src = dataURL;
            $.ajax({
                type: "POST",
                url: "/",
                data: { img: dataURL,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }
                }).done(function(msg){
{#                    alert('success');#}
                    console.log(msg);
                    var canvas = document.getElementById('myCanvas2');
                    var context = canvas.getContext('2d');
                    context.drawImage(img, 0, 0);
{#                    document.body.appendChild(img);#}
{#                    ctx.drawImage(img, 0, 0);#}
            });
        });*/
        $("#fileToUpload").click(function(){
            $('#input_img').attr('src', "");
            $('#input_img').empty();
            $('#output_img').attr('src', "");
            $('#output_img').empty();
        });

        $("#fileToUpload").change(function(){
            readURL(this);
        });
        function readURL(input) {
            var url = input.value;
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#input_img').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }else{
                alert('plz upload chicken image ');
                 $('.imagepreview').attr('src', '/assets/no_preview.png');
            }
        }

        // show loading bar part
        $('#test_input_form').on('submit', function(){
           $('.loading').show();
        });
    </script>
</body>
</html>